body{
    padding: 30px 20px;
    background-image: url("../img/fondo-index.jpg");
    background-size: cover;
}
.main-double-wrapper{
    width: 50%;
    margin: 0 auto;
}
.jumbotron, .jumbotron-fluid{
    padding: 20px 0px;
}
#root{
    padding: 20px 15px;
    max-height: 500px;
    overflow: scroll;
}
.exam-container{
    border: 3px solid grey;
}